.container
{
    max-height: 800px;
    max-width: 800px;
}

.rowth
{
    padding: 10px;
    justify-self: center;
}

.cell
{
    aspect-ratio: 1 / 1;
    display: flex; /* Make cells flex containers */
    justify-content: center;
    align-items: center;
    border: 1px solid black; /* Add a border for visibility */
    user-select: none;
}

.light
{
    background-color: azure;
}

.dark
{
    background-color: lightskyblue;
}

.piece
{
    height: 50%;
    width: 50%;
    border: 2px solid;
    align-content: center;
    text-align: center;
}

.target
{
    border-color: red;
}

.path-marker
{
    height: 60%;
    width: 60%;
    border-radius: 50px;
    border: 8px solid green;
    align-content: center;
}

.WHITE
{
    height: 75%;
    width: 75%;
    object-fit: contain;
}

.BLACK
{
    height: 75%;
    width: 75%;
    object-fit: contain;
}